.btn {
  padding: 0.55rem 1.65rem;
  max-width: 360px;
  background: $gold;
  color: $white;

  text-transform: uppercase;
  font-family: "FuturaDemiC", $additionalFonts;
  font-size: 0.65rem;
  line-height: 15px;
  outline: none;
  border: none;
  border-radius: 2px;

  transition: 0.3s box-shadow;
  cursor: pointer;

  &:hover {
    box-shadow: 0 4px 18px rgba($color: $gold, $alpha: 0.35);
  }

  &_large {
		padding: 0.9rem 2rem;
		min-width: 10rem;
  }

	&_font-15 {
		font-size: 0.75rem;
	}

  &_transparent {
    background: transparent;
  }

  &_white-border {
    border: 1px solid $white;
    &:hover {
      box-shadow: 2px 2px 18px rgba($color: $white, $alpha: 0.35);
    }
  }
}

//------- media
@media (max-width: 750px) {
  .btn {
    padding: 0.48rem 1.25rem;

    &_large {
      padding: 0.7rem 1.7rem;
    }
  }
}


@media (max-width: 375px) {
	.btn {
		border-radius: 1px;
		font-size: 13px;
	}
}
