.btn {
	background: $gold;
	color: $white;
  text-transform: uppercase;
  padding: 11px 33px;
  font-family: FuturaDemiC;
  font-size: 13px;
  line-height: 15px;
  outline: none;
  border: none;
  border-radius: 2px;
	line-height: normal;
	cursor: pointer;
	
	&:hover {
		box-shadow: 0 4px 4px rgba($color: $gold, $alpha: 0.25);
	}
}
