.client-card {
  position: relative;

  display: flex;
  flex-direction: column;
  min-height: 428px;
  width: 100%;
	max-width: 376px;
	padding-top: 24px;

  box-shadow: 0px 10px 50px rgba(0, 0, 0, 0.04);
  &__info {
    display: flex;
		align-items: center;
		
		padding-left: 20px;
    & img {
      border-radius: 50%;
    }
  }

  &__name {
    width: 178px;
    margin-left: 35px;
    font-family: "Yeseva One", $additionalFonts;
    font-size: 0.9rem;
    line-height: 1.1rem;

    color: $title-black;
  }

  &__comment {
    margin-top: 18px;
    padding-left: 20px;
    padding-right: 30px;
    font-family: "FuturaBookC", $additionalFonts;
    font-size: 0.75rem;
    line-height: 1.3rem;
    color: $text-gray;
  }

  &__summary {
    position: absolute;
    bottom: -27px;

    display: flex;
    align-items: center;
    justify-content: space-between;

    min-width: 294px;
    min-height: 54px;

    padding: 0 1rem;
    font-family: "Yeseva One", $additionalFonts;
    font-size: 0.75rem;
    line-height: 1.25rem;
    text-transform: uppercase;
    color: $white;

    background: $gold;
		box-shadow: 5px 5px 20px rgba($gold, 0.5);
		
		&::after {
			content: "";
			position: absolute;
			left: calc(50% - 6px);
			width: 1px;
			height: 100%;
			background: $white;
		}
  }

  &__capacity,
  &__days {
    display: flex;
    align-items: center;

    & img {
      padding-right: 10px;
    }
  }
}
