.input-item {
  display: flex;
  flex-direction: column;

  &-checkbox {
    display: flex;
    width: 100%;
    text-align: center;

    &__label {
      position: relative;

      display: flex;
      align-items: center;
      justify-content: center;
      color: $white;
			padding-left: 30px;
      font-family: "FuturaBookC", $additionalFonts;
      font-size: 16px;
    }

    &__label::before {
      // content: "";
      // position: absolute;
      // display: block;
      // width: 18px;
      // height: 18px;
      // outline: none;
      // margin-right: 0.45rem;
      
      content: "";
      position: absolute;
      left: 0;
      top: 0;
      width: 18px;
      height: 18px;

      background: $white;
      border: 1px solid $gold;
      border-radius: 1px;

      cursor: pointer;
    }
		
		& input[type="checkbox"] { 
			width: auto;
			opacity: 0;
			position: absolute;
			&:checked + .input-item-checkbox__label::before {
        background-color: $gold;
        background-image: url("../../assets/img/input-item/checkbox-tick.svg");
        background-repeat: no-repeat;
        background-position: center center;
      }
		}
  }

  & label {
    font-family: "FuturaBookC", $additionalFonts;
    font-size: 0.75rem;
    color: rgba($color: $text-black, $alpha: 0.5);
  }

  &_white-color {
    & input {
      color: $white;

      &::placeholder {
				color: $white;
			}
			&::-moz-placeholder {
				opacity: 1;
				color: $white;
			}
    }

    & label {
      color: rgba($color: $white, $alpha: 0.5);
    }
  }
}

input {
  width: 231px;
  padding-bottom: 0.2rem;
  background: transparent;

  font-family: "FuturaBookC", $additionalFonts;
  font-size: 0.9rem;
  line-height: 1.2rem;

  color: $text-black;

  border: none;
  border-bottom: 1px solid rgba($color: $text-black, $alpha: 0.3);
  outline: none;

  &::placeholder {
    font-family: "FuturaBookC", $additionalFonts;
    font-size: 0.9rem;
    line-height: 1.2rem;
    color: $text-black;
	}
	&::-moz-placeholder {
		font-family: "FuturaBookC", $additionalFonts;
    font-size: 0.9rem;
    line-height: 1.2rem;
    color: $text-black;
	}
}
