.nav {
  display: flex;
	justify-content: space-between;
	width: 581px;

  &__item {
    color: $white;
    text-transform: uppercase;
    text-decoration: none;
    font-family: "FuturaBookC", serif, "Tahoma";
		font-size: 14px;

		transition: color 0.4s; 
		cursor: pointer;
		
		&:hover {
			color: $gold;
		}
	}
}
