.nav {
  display: flex;
	justify-content: space-between;
	width: 40%;

  &__item {
    color: $white;
    text-transform: uppercase;
    text-decoration: none;
    font-family: "FuturaBookC", $additionalFonts;
		font-size: 0.7rem;

		transition: color 0.4s; 
		cursor: pointer;
		
		&:hover {
			color: $gold;
		}
	}
}
