$black: #131313;
$title-black: #181818;
$text-black: #363636;
$text-gray: #959595;

$gold: #e3b873;
$white: #ffffff;

$additionalFonts: sans-serif, "Tahoma";

@mixin d-flex($jc: center, $ai: center) {
  display: flex;
  justify-content: $jc;
  align-items: $ai;
}

html {
  font-size: 20px;
}

@import "./fonts";
@import "./nav";
@import "./btn";
@import "./input-item";
@import "./step";
@import "./worker";
@import "./label";
@import "./line";
@import "./client-card";

@import "./header";
@import "./banner";
@import "./projects";
@import "./projects-mobile-slider";
@import "./title";
@import "./online-control";
@import "./online-control-form";
@import "./types-of-repair";
@import "./gallery";
@import "./leave-request";
@import "./realize-fantasies";
@import "./design-project";
@import "./how-we-working";
@import "./our-team";
@import "./our-clients";
@import "./contact-form";
@import "./contact-information";
@import "./footer";

* {
  box-sizing: border-box;
}

p,
body {
  margin: 0;
}

.wrapper {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;

  overflow: hidden;
}

.gold-text {
  color: $gold;
}

@media (max-width: 980px) {
  html {
    font-size: 17px;
  }
}
