$black: #131313;
$gold: #e3b873;
$white: #ffffff;

$additionalFonts: sans-serif, "Tahoma";

@mixin d-flex($jc: center, $ai: center) {
  display: flex;
  justify-content: $jc;
  align-items: $ai;
}

html {
  font-size: 20px;
}

@import "./fonts";
@import "./header";
@import "./nav";
@import "./btn";
@import "./banner";
@import "./projects";
@import "./projects-mobile-slider";

* {
  box-sizing: border-box;
}

p,
body {
  margin: 0;
}

.wrapper {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
}

.gold-text {
  color: $gold;
}

@media (max-width: 980px) {
  html {
    font-size: 17px;
  }
}
