html {
  font-size: 20px;
}

@font-face {
  font-family: "Proxima Nova";
  src: url("../../assets/fonts/ProximaNova-Regular.eot");
  src: url("../../assets/fonts/ProximaNova-Regular.eot?#iefix") format("embedded-opentype"), url("../../assets/fonts/ProximaNova-Regular.woff2") format("woff2"), url("../../assets/fonts/ProximaNova-Regular.woff") format("woff"), url("../../assets/fonts/ProximaNova-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "FuturaBookC";
  src: url("../../assets/fonts/FuturaBookC.eot");
  src: url("../../assets/fonts/FuturaBookC.eot?#iefix") format("embedded-opentype"), url("../../assets/fonts/FuturaBookC.woff2") format("woff2"), url("../../assets/fonts/FuturaBookC.woff") format("woff"), url("../../assets/fonts/FuturaBookC.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "FuturaDemiC";
  src: url("../../assets/fonts/FuturaDemiC.eot");
  src: url("../../assets/fonts/FuturaDemiC.eot?#iefix") format("embedded-opentype"), url("../../assets/fonts/FuturaDemiC.woff2") format("woff2"), url("../../assets/fonts/FuturaDemiC.woff") format("woff"), url("../../assets/fonts/FuturaDemiC.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "FuturaMediumC";
  src: url("../../assets/fonts/FuturaMediumC.eot");
  src: url("../../assets/fonts/FuturaMediumC.eot?#iefix") format("embedded-opentype"), url("../../assets/fonts/FuturaMediumC.woff2") format("woff2"), url("../../assets/fonts/FuturaMediumC.woff") format("woff"), url("../../assets/fonts/FuturaMediumC.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Yeseva One";
  src: url("../../assets/fonts/YesevaOne.eot");
  src: url("../../assets/fonts/YesevaOne.eot?#iefix") format("embedded-opentype"), url("../../assets/fonts/YesevaOne.woff2") format("woff2"), url("../../assets/fonts/YesevaOne.woff") format("woff"), url("../../assets/fonts/YesevaOne.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 40%;
}

.nav__item {
  color: #ffffff;
  text-transform: uppercase;
  text-decoration: none;
  font-family: "FuturaBookC", sans-serif, "Tahoma";
  font-size: 0.7rem;
  -webkit-transition: color 0.4s;
  transition: color 0.4s;
  cursor: pointer;
}

.nav__item:hover {
  color: #e3b873;
}

@media (max-width: 825px) {
  .nav__item {
    margin-left: 5px;
  }
}

@media (max-width: 700px) {
  .nav {
    width: 53%;
  }
}

@media (max-width: 620px) {
  .nav {
    display: none;
  }
}

.btn {
  padding: 0.55rem 1.65rem;
  max-width: 360px;
  background: #e3b873;
  color: #ffffff;
  text-transform: uppercase;
  font-family: "FuturaDemiC", sans-serif, "Tahoma";
  font-size: 0.65rem;
  line-height: 15px;
  outline: none;
  border: none;
  border-radius: 2px;
  -webkit-transition: 0.3s -webkit-box-shadow;
  transition: 0.3s -webkit-box-shadow;
  transition: 0.3s box-shadow;
  transition: 0.3s box-shadow, 0.3s -webkit-box-shadow;
  cursor: pointer;
}

.btn:hover {
  -webkit-box-shadow: 0 4px 18px rgba(227, 184, 115, 0.35);
          box-shadow: 0 4px 18px rgba(227, 184, 115, 0.35);
}

.btn_large {
  padding: 0.9rem 2rem;
  min-width: 10rem;
}

.btn_transparent {
  background: transparent;
}

.btn_white-border {
  border: 1px solid #ffffff;
}

.btn_white-border:hover {
  -webkit-box-shadow: 2px 2px 18px rgba(255, 255, 255, 0.35);
          box-shadow: 2px 2px 18px rgba(255, 255, 255, 0.35);
}

@media (max-width: 750px) {
  .btn {
    padding: 0.48rem 1.25rem;
  }
  .btn_large {
    padding: 0.7rem 1.7rem;
  }
}

@media (max-width: 375px) {
  .btn {
    border-radius: 1px;
  }
}

.input-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.input-item-checkbox {
  display: block;
  width: 100%;
  text-align: center;
  margin-top: 1.75rem;
  margin-right: 6rem;
}

.input-item-checkbox__label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #ffffff;
  font-family: "FuturaBookC", sans-serif, "Tahoma";
  font-size: 16px;
}

.input-item-checkbox__label input[type="checkbox"] {
  position: relative;
  display: block;
  width: 18px;
  height: 18px;
  outline: none;
  margin-right: 0.45rem;
}

.input-item-checkbox__label input[type="checkbox"]::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 18px;
  height: 18px;
  background: #ffffff;
  border: 1px solid #e3b873;
  border-radius: 1px;
  cursor: pointer;
}

.input-item-checkbox__label input[type="checkbox"]:checked::before {
  background-color: #e3b873;
  background-image: url("../../assets/img/input-item/checkbox-tick.svg");
  background-repeat: no-repeat;
  background-position: center center;
}

.input-item label {
  font-family: "FuturaBookC", sans-serif, "Tahoma";
  font-size: 0.75rem;
  color: rgba(54, 54, 54, 0.5);
}

.input-item_white-color input {
  color: #ffffff;
}

.input-item_white-color input::-webkit-input-placeholder {
  color: #ffffff;
}

.input-item_white-color input:-ms-input-placeholder {
  color: #ffffff;
}

.input-item_white-color input::-ms-input-placeholder {
  color: #ffffff;
}

.input-item_white-color input::placeholder {
  color: #ffffff;
}

.input-item_white-color label {
  color: rgba(255, 255, 255, 0.5);
}

input {
  width: 231px;
  padding-bottom: 0.2rem;
  background: transparent;
  font-family: "FuturaBookC", sans-serif, "Tahoma";
  font-size: 0.9rem;
  line-height: 1.2rem;
  color: #363636;
  border: none;
  border-bottom: 1px solid rgba(54, 54, 54, 0.3);
  outline: none;
}

input::-webkit-input-placeholder {
  font-family: "FuturaBookC", sans-serif, "Tahoma";
  font-size: 0.9rem;
  line-height: 1.2rem;
  color: #363636;
}

input:-ms-input-placeholder {
  font-family: "FuturaBookC", sans-serif, "Tahoma";
  font-size: 0.9rem;
  line-height: 1.2rem;
  color: #363636;
}

input::-ms-input-placeholder {
  font-family: "FuturaBookC", sans-serif, "Tahoma";
  font-size: 0.9rem;
  line-height: 1.2rem;
  color: #363636;
}

input::placeholder {
  font-family: "FuturaBookC", sans-serif, "Tahoma";
  font-size: 0.9rem;
  line-height: 1.2rem;
  color: #363636;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 24px;
  padding-bottom: 22px;
  padding: 24px 8px 22px 15px;
  background: #131313;
}

.header-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  max-width: 1256px;
}

.header__phone-number {
  color: #e3b873;
  font-family: "FuturaDemiC", sans-serif, "Tahoma";
  font-size: 0.7rem;
  text-decoration: none;
  border-bottom: 1px solid #e3b873;
  -webkit-transition: color 0.4s;
  transition: color 0.4s;
}

.header__phone-number:hover {
  color: #ffffff;
  border-bottom: none;
}

.logo__text {
  margin: 0;
  color: #e3b873;
  font-family: "FuturaDemiC", sans-serif, "Tahoma";
  font-size: 0.7rem;
  text-transform: uppercase;
}

@media (max-width: 792px) {
  .header-list {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .header__contacts + .btn {
    display: none;
  }
}

@media (max-width: 620px) {
  .header__phone-number {
    color: #ffffff;
    border-bottom: none;
  }
  .header__phone-number:hover, .header__phone-number :active {
    color: #e3b873;
  }
}

.banner__wrap {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.banner__image img {
  width: 100%;
  height: auto;
}

.banner__content {
  position: relative;
  width: 95%;
  background: #131313;
}

.banner__main {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  top: 27%;
  left: 4%;
}

.banner__title {
  max-width: 44%;
  color: #ffffff;
  font-family: "Yeseva One", sans-serif, "Tahoma";
  font-style: normal;
  font-weight: normal;
  font-size: 2rem;
  line-height: 2.65rem;
  text-transform: uppercase;
}

.banner__description {
  margin-top: 1rem;
  max-width: 35%;
  color: #ffffff;
  font-family: "FuturaBookC", sans-serif, "Tahoma";
  font-size: 1.1rem;
  line-height: 1.5rem;
}

.banner__buttons {
  margin-top: 2.1rem;
}

.banner__buttons .btn:nth-child(2) {
  margin-left: 1rem;
}

.banner__scroll {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 12.5rem;
  height: 14%;
  -webkit-transform: translateY(50%);
          transform: translateY(50%);
  background: #131313;
  color: #ffffff;
  font-family: Yeseva One, sans-serif, "Tahoma";
  font-size: 0.7rem;
  line-height: 0.95px;
  text-transform: uppercase;
  cursor: pointer;
  -webkit-transition: 0.6s background-color, 0.5s color;
  transition: 0.6s background-color, 0.5s color;
}

.banner__scroll:hover {
  background-color: #e3b873;
  color: #131313;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.banner__scroll:hover .banner__scroll-icon {
  display: none;
}

.banner__scroll-icon {
  margin-left: 12px;
}

.banner__instagram {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 6%;
  background: #131313;
  padding-top: 17%;
}

.banner__instagram-link {
  position: relative;
  color: #e3b873;
  -webkit-writing-mode: vertical-lr;
      -ms-writing-mode: tb-lr;
          writing-mode: vertical-lr;
  text-decoration: none;
  font-family: "FuturaDemiC", sans-serif, "Tahoma";
  font-size: 0.7rem;
  line-height: 0.8rem;
  -webkit-transition: 0.5s color;
  transition: 0.5s color;
  text-transform: uppercase;
}

.banner__instagram-link::after {
  content: "";
  position: absolute;
  left: 7px;
  top: 4.9rem;
  height: 2.5rem;
  width: 1px;
  background: #e3b873;
}

.banner__instagram-link:hover {
  color: #d49041;
}

.banner__instagram-link:hover::after {
  background: #d49041;
}

@media (max-width: 1293px) {
  .banner__title {
    max-width: 52%;
  }
}

@media (max-width: 1200px) {
  .banner__description {
    max-width: 43%;
  }
}

@media (max-width: 1096px) {
  .banner__main {
    top: 19%;
  }
  .banner__title {
    max-width: 59%;
  }
  .banner__description {
    max-width: 52%;
  }
}

@media (max-width: 980px) {
  .banner__main {
    top: 19%;
  }
  .banner__title {
    max-width: 59%;
  }
  .banner__description {
    max-width: 52%;
  }
}

@media (max-width: 825px) {
  .banner__title {
    max-width: 69%;
  }
  .banner__description {
    max-width: 52%;
  }
}

@media (max-width: 750px) {
  .banner__title {
    max-width: 65%;
    font-size: 1.8rem;
    line-height: 2.3rem;
  }
  .banner__description {
    max-width: 62%;
  }
}

@media (max-width: 720px) {
  .banner__scroll {
    display: none;
  }
}

@media (max-width: 700px) {
  .banner__instagram {
    display: none;
  }
  .banner__content {
    width: 100%;
  }
}

@media (max-width: 650px) {
  .banner__instagram {
    display: none;
  }
  .banner__content {
    width: 100%;
  }
  .banner__image {
    overflow: hidden;
  }
  .banner__image img {
    width: auto;
    height: 470px;
  }
}

@media (max-width: 627px) {
  .banner__title {
    max-width: 72%;
  }
  .banner__description {
    max-width: 72%;
  }
}

@media (max-width: 569px) {
  .banner__title {
    max-width: 82%;
  }
}

@media (max-width: 500px) {
  .banner__title {
    max-width: 89%;
  }
}

@media (max-width: 462px) {
  .banner__title {
    max-width: 79%;
    font-size: 1.45rem;
  }
}

@media (max-width: 418px) {
  .banner__title {
    max-width: 83%;
    font-size: 1.4rem;
  }
  .banner__buttons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-right: 4%;
  }
  .banner__buttons .btn:nth-child(2) {
    margin-left: 0;
    margin-top: 1rem;
  }
}

@media (max-width: 400px) {
  .banner__title {
    max-width: 96%;
  }
  .banner__description {
    max-width: 78%;
  }
}

@media (max-width: 375px) {
  .banner__title {
    font-size: 1.35rem;
  }
  .banner__description {
    font-size: 1.05rem;
  }
}

.projects {
  background: #131313;
  height: 1074px;
  padding-top: 5rem;
}

.projects__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.projects__left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-top: 3.4rem;
  width: 32%;
  margin-left: 7%;
}

.projects__label {
  margin-bottom: 2.2rem;
  max-width: 78%;
  color: #ffffff;
  font-family: "FuturaBookC", sans-serif, "Tahoma";
  font-size: 0.9rem;
  line-height: 1.45rem;
}

.projects__title {
  position: relative;
  margin-bottom: 1.6rem;
  color: #e3b873;
  font-family: "Yeseva One", sans-serif, "Tahoma";
  font-size: 1.35rem;
  line-height: 1.85rem;
  letter-spacing: -1px;
  text-transform: uppercase;
}

.projects__title::after {
  content: "";
  position: absolute;
  left: 8.1rem;
  bottom: 0.9rem;
  width: 4.6rem;
  height: 1px;
  background: #e3b873;
}

.projects__descriptions {
  height: 156px;
  width: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.projects__descriptions-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.projects__description-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.projects__description-title {
  margin-bottom: 0.3rem;
  color: #e3b873;
  font-family: "Yeseva One", sans-serif, "Tahoma";
  font-size: 0.9rem;
  line-height: 1.25rem;
  text-transform: uppercase;
}

.projects__description-label {
  width: 112px;
  color: #ffffff;
  font-family: "FuturaBookC", sans-serif, "Tahoma";
  font-size: 0.75rem;
  line-height: 1rem;
}

.projects__description-slider-controls {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 4.5rem;
}

.projects__arrow-narrow-right {
  cursor: pointer;
  margin-left: 1.48rem;
  -webkit-transition: -webkit-transform 0.6s;
  transition: -webkit-transform 0.6s;
  transition: transform 0.6s;
  transition: transform 0.6s, -webkit-transform 0.6s;
}

.projects__arrow-narrow-right:hover {
  -webkit-transform: translateX(0.48rem);
          transform: translateX(0.48rem);
}

.projects__arrow-narrow-left {
  cursor: pointer;
  margin-right: 1.48rem;
  -webkit-transition: -webkit-transform 0.6s;
  transition: -webkit-transform 0.6s;
  transition: transform 0.6s;
  transition: transform 0.6s, -webkit-transform 0.6s;
}

.projects__arrow-narrow-left:hover {
  -webkit-transform: translateX(-0.48rem);
          transform: translateX(-0.48rem);
}

.projects__slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 61%;
}

.projects__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 73%;
}

.projects__header {
  padding-bottom: 0.23rem;
  color: rgba(255, 255, 255, 0.3);
  font-family: "Yeseva One", sans-serif, "Tahoma";
  font-size: 0.7rem;
  line-height: 0.95rem;
  text-transform: uppercase;
  cursor: pointer;
}

.projects__header:hover {
  color: #ffffff;
  border-bottom: 1px solid #ffffff;
}

.projects__header_active {
  color: #e3b873;
  border-bottom: 1px solid #e3b873;
}

.projects__header_active:hover {
  color: #e3b873;
  border-bottom: 1px solid #e3b873;
  opacity: 0.9;
}

.projects__images {
  position: relative;
  margin-top: 2.25rem;
  overflow: hidden;
}

.projects__img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 679px;
}

.projects__img img {
  width: 100%;
  height: auto;
}

.projects__img img + img {
  margin-left: 2rem;
}

.projects__right-arrow {
  position: absolute;
  width: 2.75rem;
  height: 2.75rem;
  background-color: #e3b873;
  background-image: url("../../assets/img/projects/right-arrow_big.svg");
  background-repeat: no-repeat;
  background-position: center center;
  border-radius: 50%;
  right: 0;
  -webkit-transform: translateX(-2.1rem);
          transform: translateX(-2.1rem);
  top: calc(50% - 1.375rem);
  cursor: pointer;
}

.projects__right-arrow:hover {
  -webkit-box-shadow: 0px 0px 15px rgba(227, 184, 115, 0.5);
          box-shadow: 0px 0px 15px rgba(227, 184, 115, 0.5);
}

.dots {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.dots__dot {
  width: 0.5rem;
  height: 0.5rem;
  background: #ffffff;
  border-radius: 50%;
  opacity: 0.3;
  cursor: pointer;
  -webkit-transition: opacity 0.3s, background-color 0.3s;
  transition: opacity 0.3s, background-color 0.3s;
}

.dots__dot:hover, .dots__dot:active {
  background: #e3b873;
  opacity: 1;
}

.dots__dot_active {
  opacity: 1;
}

.dots__dot_active:hover {
  background: #ffffff;
  opacity: 0.7;
}

.dots__dot + .dots__dot {
  margin-left: 0.9rem;
}

@media (max-width: 1241px) {
  .projects {
    padding-top: 4.5rem;
  }
  .projects__list {
    width: 85%;
  }
  .projects__left {
    width: 38%;
  }
  .projects__slider {
    width: 55%;
    padding-right: 1rem;
  }
}

@media (max-width: 1142px) {
  .projects__list {
    width: 100%;
    padding-right: 2rem;
  }
}

@media (max-width: 1050px) {
  .projects__list {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding-top: 1.4rem;
  }
  .projects__header + .projects__header {
    display: none;
  }
  .projects__right-arrow {
    -webkit-transform: translateX(-1rem);
            transform: translateX(-1rem);
  }
}

@media (max-width: 920px) {
  .projects__slider {
    padding-right: 0;
  }
  .projects__img img {
    width: 380px;
    height: auto;
  }
  .projects__img img + img {
    margin-left: 2rem;
  }
}

@media (max-width: 750px) {
  .projects {
    padding-top: 1.1rem;
  }
  .projects__slider {
    display: none;
  }
  .projects .projects__title {
    text-align: center;
  }
  .projects .projects__title::after {
    display: none;
  }
  .projects__left {
    width: 90%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .projects__description-slider-controls {
    display: none;
  }
}

@media (max-width: 650px) {
  .projects__left {
    padding-top: 0;
    margin: auto;
  }
}

@media (max-width: 480px) {
  .projects {
    height: 1520px;
  }
}

@media (max-width: 420px) {
  .projects__left {
    width: 100%;
    margin: 1rem 0;
  }
}

@media (max-width: 375px) {
  .projects__label {
    text-align: center;
  }
  .projects__description-title, .projects__description-label {
    font-size: 0.83rem;
  }
  .projects__description-label {
    width: 99px;
  }
}

.projects-mobile-slider {
  display: none;
  padding: 0 1rem;
  margin: 0 auto;
  margin-bottom: 2rem;
}

.projects-mobile-slider__img {
  position: relative;
}

.projects-mobile-slider__arrow {
  position: absolute;
  top: calc(50% - 1.05rem);
  width: 2.1rem;
  height: 2.1rem;
  background-color: #e3b873;
  background-repeat: no-repeat;
  background-position: center center;
  border-radius: 50%;
  cursor: pointer;
}

.projects-mobile-slider__arrow:hover, .projects-mobile-slider__arrow:active {
  -webkit-box-shadow: 0px 1px 10px rgba(227, 184, 115, 0.5);
          box-shadow: 0px 1px 10px rgba(227, 184, 115, 0.5);
}

.projects-mobile-slider__arrow_right {
  right: 0;
  -webkit-transform: translateX(-0.65rem);
          transform: translateX(-0.65rem);
  background-image: url("../../assets/img/projects/right-arrow_mobile.svg");
}

.projects-mobile-slider__arrow_left {
  left: 0;
  -webkit-transform: translateX(0.65rem);
          transform: translateX(0.65rem);
  background-image: url("../../assets/img/projects/left-arrow_big.svg");
}

@media (max-width: 750px) {
  .projects-mobile-slider {
    display: block;
    width: 70%;
  }
  .projects-mobile-slider img {
    width: 100%;
    height: auto;
  }
}

@media (max-width: 575px) {
  .projects-mobile-slider {
    width: 340px;
    padding: 0;
  }
  .projects-mobile-slider__img, .projects-mobile-slider__wrap {
    width: 340px;
  }
}

.title {
  position: relative;
  color: #ffffff;
  font-family: "Yeseva One";
  font-size: 1rem;
  line-height: 1.4rem;
  text-transform: uppercase;
  text-align: center;
}

.title_black {
  color: #181818;
}

.title div img {
  margin-top: 0.6rem;
}

.title::after, .title::before {
  content: "";
  position: absolute;
  width: 1.6rem;
  height: 2px;
  bottom: 0;
  left: calc(50% - 0.8rem);
  background: #e3b873;
  -webkit-transform: translateX(2.1rem) translateY(-19px);
          transform: translateX(2.1rem) translateY(-19px);
}

.title::before {
  -webkit-transform: translateX(-2.1rem) translateY(-19px);
          transform: translateX(-2.1rem) translateY(-19px);
}

.online-control {
  margin-top: -300px;
}

.online-control__video {
  padding-top: 1.5rem;
  width: 100%;
  max-width: 817px;
  margin: auto;
}

.online-control__video iframe {
  width: 100%;
  height: 434px;
}

@media (max-width: 980px) {
  .online-control__video {
    max-width: 637px;
  }
  .online-control__video iframe {
    height: 364px;
  }
}

@media (max-width: 780px) {
  .online-control__video {
    max-width: 517px;
  }
  .online-control__video iframe {
    height: 294px;
  }
}

@media (max-width: 590px) {
  .online-control {
    margin-top: -350px;
  }
  .online-control__video {
    max-width: 417px;
  }
  .online-control__video iframe {
    height: 224px;
  }
}

@media (max-width: 480px) {
  .online-control {
    margin-top: -761px;
  }
  .online-control__video {
    max-width: 340px;
  }
  .online-control__video iframe {
    height: 207px;
  }
}

.online-control-form__line {
  display: block;
  margin: auto;
  margin-top: 3.1rem;
  width: 55px;
  height: 2px;
  background: #e3b873;
}

.online-control-form__label {
  margin: auto;
  margin-top: 1.55rem;
  width: 100%;
  max-width: 681px;
  font-family: "FuturaBookC", sans-serif, "Tahoma";
  font-size: 1rem;
  line-height: 1.7rem;
  text-align: center;
  color: #363636;
}

.online-control-form__wrap {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.online-control-form__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 4.5rem;
}

.online-control-form__form-checkbox label {
  color: #363636;
}

.online-control-form__form div + div {
  margin-left: 2.8rem;
}

@media (max-width: 980px) {
  .online-control-form__label {
    font-size: 1.1rem;
  }
}

@media (max-width: 780px) {
  .online-control-form__wrap {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: initial;
        -ms-flex-pack: initial;
            justify-content: initial;
  }
  .online-control-form__form div + div {
    margin-left: 0;
    margin-top: 2rem;
  }
  .online-control-form__form-checkbox {
    margin-right: 0;
  }
  .online-control-form__label {
    max-width: 520px;
  }
}

@media (max-width: 590px) {
  .online-control-form__form {
    margin-top: 1.3rem;
  }
  .online-control-form__label {
    max-width: 420px;
  }
}

@media (max-width: 480px) {
  .online-control-form__label {
    color: #ffffff;
    max-width: 340px;
    font-size: 0.77rem;
  }
  .online-control-form__br {
    display: none;
  }
  .online-control-form__line {
    margin-top: 1.55rem;
  }
  .online-control-form__wrap div input {
    color: #ffffff;
  }
  .online-control-form__item label {
    color: rgba(255, 255, 255, 0.5);
    font-size: 15px;
    padding-bottom: 5px;
  }
  .online-control-form__item input {
    color: #ffffff;
    border-color: rgba(255, 255, 255, 0.7);
  }
  .online-control-form__item input::-webkit-input-placeholder {
    color: #ffffff;
  }
  .online-control-form__item input:-ms-input-placeholder {
    color: #ffffff;
  }
  .online-control-form__item input::-ms-input-placeholder {
    color: #ffffff;
  }
  .online-control-form__item input::placeholder {
    color: #ffffff;
  }
  .online-control-form__form-checkbox {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  .online-control-form__form-checkbox label {
    color: #ffffff;
    font-size: 0.88rem;
  }
  .online-control-form__form-button {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  .online-control-form__form-button input {
    min-width: 340px;
    font-size: 0.83rem;
  }
}

.types-of-repair__title {
  margin-top: 7.2rem;
}

@media (max-width: 980px) {
  .types-of-repair__title {
    font-size: 1.3rem;
  }
}

@media (max-width: 780px) {
  .types-of-repair__title {
    margin-top: 6rem;
  }
}

@media (max-width: 480px) {
  .types-of-repair__title {
    margin-top: 3.6rem;
  }
}

.gallery {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 auto;
  margin-top: 1.68rem;
  width: 100%;
  max-width: 1276px;
  padding: 0 20px;
}

.gallery__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  max-width: 392px;
}

.gallery__img img {
  width: 100%;
  max-width: 392px;
  height: auto;
}

.gallery__description {
  position: relative;
  width: 84%;
  margin: auto;
  margin-top: -127px;
  padding-bottom: 2.5rem;
  padding-left: 1.7rem;
  padding-top: 1.25em;
  background: #ffffff;
  -webkit-box-shadow: 10px 10px 20px rgba(19, 19, 19, 0.03);
          box-shadow: 10px 10px 20px rgba(19, 19, 19, 0.03);
}

.gallery__description-title {
  font-family: "Yeseva One", sans-serif, "Tahoma";
  font-size: 0.9rem;
  line-height: 1.25rem;
  color: #363636;
}

.gallery__description-list {
  margin: 0;
  padding: 0;
  margin-top: 0.6rem;
}

.gallery__description-list li {
  margin: 0;
  padding: 0;
  margin-left: 0.8rem;
  font-family: "FuturaBookC", sans-serif, "Tahoma";
  font-size: 0.75rem;
  line-height: 1.25rem;
  color: #959595;
}

.gallery__price {
  position: absolute;
  left: 0;
  bottom: 0;
  -webkit-transform: translateY(50%);
          transform: translateY(50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  background: #e3b873;
  width: 228px;
  height: 54px;
  color: #ffffff;
  font-family: "Yeseva One", sans-serif, "Tahoma";
  font-size: 0.9rem;
  line-height: 1.25rem;
  text-transform: uppercase;
  -webkit-box-shadow: 0px 4px 5px rgba(227, 184, 115, 0.4);
          box-shadow: 0px 4px 5px rgba(227, 184, 115, 0.4);
}

@media (max-width: 1250px) {
  .gallery {
    padding: 0 50px;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .gallery__item:nth-child(3) {
    width: 100%;
    margin-top: 4rem;
  }
}

@media (max-width: 980px) {
  .gallery__item {
    max-width: 350px;
  }
  .gallery__price {
    height: 45px;
  }
  .gallery__description-list li {
    font-size: 0.85rem;
  }
}

@media (max-width: 850px) {
  .gallery__item {
    max-width: 310px;
  }
}

@media (max-width: 780px) {
  .gallery {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .gallery__item {
    max-width: 425px;
  }
  .gallery__item:nth-child(3) {
    margin-top: 0rem;
  }
  .gallery__item + .gallery__item {
    margin-top: 4.5em;
  }
  .gallery__img img {
    width: 100%;
    max-width: 425px;
  }
}

@media (max-width: 480px) {
  .gallery {
    padding: 0 18px;
  }
  .gallery__price {
    font-size: 0.88rem;
    width: 190px;
    height: 40px;
  }
}

.leave-request {
  margin-top: 90px;
  padding-bottom: 55px;
}

.leave-request__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-right: 3%;
}

.leave-request__steps {
  position: relative;
  width: 526px;
  height: 645px;
  z-index: 1;
  background: url("../../assets/img/leave-request/steps-background.png");
}

.leave-request__circle {
  position: relative;
  top: 55px;
  z-index: 3;
  left: -115px;
  border-radius: 50%;
  border: 3px solid #e3b873;
  width: 646px;
  height: 636px;
}

.leave-request__step {
  position: absolute;
  z-index: 5;
  left: 337px;
  top: 59px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.leave-request__step:nth-child(3) {
  left: 457px;
  top: 199px;
}

.leave-request__step:nth-child(4) {
  left: 487px;
  top: 389px;
}

.leave-request__step:nth-child(5) {
  left: 393px;
  top: 559px;
}

.leave-request__step-number {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 42px;
  height: 42px;
  background: #e3b873;
  border-radius: 50%;
  color: #ffffff;
  font-family: "Yeseva One", sans-serif, "Tahoma";
  font-size: 0.9rem;
  line-height: 1.25rem;
  border: 15px solid #ffffff;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
}

.leave-request__step-description {
  padding-left: 5px;
  width: 364px;
  font-family: "FuturaMediumC", sans-serif, "Tahoma";
  font-size: 0.9rem;
  line-height: 1rem;
}

.leave-request__step-description_small {
  width: 250px;
}

.leave-request__input {
  width: 401px;
}

.leave-request__form {
  padding-left: 270px;
  margin-top: 100px;
}

.leave-request__form-container form {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 40px;
  padding-bottom: 78px;
  padding-top: 28px;
  background: #131313;
}

.leave-request__form-container form div + div {
  margin-top: 50px;
}

.leave-request__form-container form .input-item-checkbox {
  margin-top: 1rem;
}

.leave-request__form-container form div input {
  border-color: rgba(255, 255, 255, 0.7);
}

.leave-request__label {
  max-width: 287px;
  color: #ffffff;
  font-family: "FuturaDemiC", sans-serif, "Tahoma";
  font-size: 20px;
  line-height: 25px;
  text-align: center;
}

.leave-request__btn {
  position: absolute;
  right: 49px;
  bottom: 27px;
}

.leave-request__money-box {
  position: relative;
  padding-left: 100px;
  margin: auto;
  max-width: 350px;
  margin-top: 50px;
  font-family: "FuturaDemiC", sans-serif, "Tahoma";
  font-size: 1rem;
  line-height: 1.25rem;
  color: #e3b873;
}

.leave-request__money-box::before {
  position: absolute;
  left: 0;
  top: calc(50% - 36px);
  content: "";
  width: 72px;
  height: 72px;
  background-color: #e3b873;
  background-image: url("../../assets/img/leave-request/money-box.svg");
  background-repeat: no-repeat;
  background-position: center center;
  -webkit-box-shadow: 0px 10px 20px rgba(227, 184, 115, 0.2);
          box-shadow: 0px 10px 20px rgba(227, 184, 115, 0.2);
  border-radius: 50%;
}

@media (max-width: 1300px) {
  .leave-request__input {
    width: 350px;
  }
  .leave-request .input-item-checkbox {
    margin-left: 50px;
  }
}

@media (max-width: 1250px) {
  .leave-request__wrap {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-right: 0;
  }
  .leave-request__steps {
    background: url("../../assets/img/leave-request/steps-background_big.jpg");
    width: 1000px;
  }
  .leave-request__form {
    padding-left: 0;
    padding-right: 0;
  }
  .leave-request__btn {
    right: initial;
    left: calc(50% - 115px);
  }
}

@media (max-width: 740px) {
  .leave-request {
    display: none;
  }
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

p,
body {
  margin: 0;
}

.wrapper {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  overflow: hidden;
}

.gold-text {
  color: #e3b873;
}

@media (max-width: 980px) {
  html {
    font-size: 17px;
  }
}
/*# sourceMappingURL=main.css.map */